body{
   background-image: url("/back.jpg"); 
   background-repeat: no-repeat;
   background-position: center;
}

h1{
   font-size: 4rem;
   text-align: center;
   margin: 40px;
}

.counter{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   gap: 2rem;
}

count-var{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
      gap: 2rem;

}

.count-var{
   display: flex;
   flex-direction: column;
}